-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "cliente" (
    "cdCliente" SERIAL NOT NULL,
    "nomeFantasia" TEXT,
    "razaoSocial" TEXT,
    "documento" TEXT,
    "tipoDoc" TEXT,
    "ie" TEXT,
    "rua" TEXT,
    "numero" TEXT,
    "bairro" TEXT,
    "cidade" TEXT,
    "estado" TEXT,
    "complemento" TEXT,
    "cep" TEXT,
    "email" TEXT NOT NULL,
    "senha" TEXT,
    "telefone" TEXT,
    "status" TEXT NOT NULL DEFAULT 'EM_ANALISE',
    "urlDocumento" TEXT,
    "criadoEm" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "cliente_pkey" PRIMARY KEY ("cdCliente")
);

-- CreateTable
CREATE TABLE "vendedor" (
    "cdVendedor" SERIAL NOT NULL,
    "nomeFantasia" TEXT,
    "razaoSocial" TEXT,
    "documento" TEXT,
    "tipoDoc" TEXT,
    "ie" TEXT,
    "rua" TEXT,
    "numero" TEXT,
    "bairro" TEXT,
    "cidade" TEXT,
    "estado" TEXT,
    "complemento" TEXT,
    "cep" TEXT,
    "email" TEXT NOT NULL,
    "senha" TEXT,
    "telefone" TEXT,
    "status" TEXT NOT NULL DEFAULT 'EM_ANALISE',
    "urlDocumento" TEXT,
    "criadoEm" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "vendedor_pkey" PRIMARY KEY ("cdVendedor")
);

-- CreateTable
CREATE TABLE "entregador" (
    "cdEntregador" SERIAL NOT NULL,
    "dataRegistro" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "dataAprovacao" TIMESTAMP(3),
    "nome" TEXT,
    "documento" TEXT,
    "tipoDoc" TEXT,
    "rua" TEXT,
    "numero" TEXT,
    "bairro" TEXT,
    "cidade" TEXT,
    "estado" TEXT,
    "complemento" TEXT,
    "cep" TEXT,
    "status" TEXT NOT NULL DEFAULT 'EM_ANALISE',

    CONSTRAINT "entregador_pkey" PRIMARY KEY ("cdEntregador")
);

-- CreateTable
CREATE TABLE "acesso" (
    "id" SERIAL NOT NULL,
    "cdUser" INTEGER,
    "login" TEXT,
    "hash" TEXT,
    "tipoUser" TEXT,
    "status" TEXT,
    "dtUltimoAcesso" TIMESTAMP(3),
    "cdCliente" INTEGER,
    "cdVendedor" INTEGER,
    "cdEntregador" INTEGER,

    CONSTRAINT "acesso_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "produtos" (
    "cdProduto" SERIAL NOT NULL,
    "dtCadastro" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "nome" TEXT,
    "tipo" TEXT,
    "preco" DOUBLE PRECISION,
    "qtdTotal" INTEGER,
    "dtUltimaAtz" TIMESTAMP(3),
    "status" TEXT DEFAULT 'ATIVO',
    "imagemUrl" TEXT,
    "unidadePadrao" TEXT,

    CONSTRAINT "produtos_pkey" PRIMARY KEY ("cdProduto")
);

-- CreateTable
CREATE TABLE "pedidos" (
    "cdPedido" SERIAL NOT NULL,
    "dtInicio" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "dtEntrega" TIMESTAMP(3),
    "dtFim" TIMESTAMP(3),
    "qtdItens" INTEGER,
    "volumeAprox" DOUBLE PRECISION,
    "valorTotal" DOUBLE PRECISION,
    "status" TEXT,
    "vlFrete" DOUBLE PRECISION,
    "cdCliente" INTEGER,

    CONSTRAINT "pedidos_pkey" PRIMARY KEY ("cdPedido")
);

-- CreateTable
CREATE TABLE "ItemPedido_Tem" (
    "id" SERIAL NOT NULL,
    "qtd" INTEGER,
    "preco" DOUBLE PRECISION,
    "un" TEXT,
    "cdVendedor" INTEGER,
    "cdProduto" INTEGER,
    "cdPedidos" INTEGER,

    CONSTRAINT "ItemPedido_Tem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Prod_Vendedor_Possui" (
    "idRegistro" SERIAL NOT NULL,
    "dtAdesao" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "saldo" INTEGER,
    "dtAtzSaldo" TIMESTAMP(3),
    "preco" DOUBLE PRECISION,
    "dtAtzPreco" TIMESTAMP(3),
    "cdVendedor" INTEGER,
    "cdProduto" INTEGER,

    CONSTRAINT "Prod_Vendedor_Possui_pkey" PRIMARY KEY ("idRegistro")
);

-- CreateTable
CREATE TABLE "Rota" (
    "cdRota" SERIAL NOT NULL,
    "dRegistro" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "dtFim" TIMESTAMP(3),
    "percursoKM" DOUBLE PRECISION,
    "valor" DOUBLE PRECISION,
    "qtdColetas" INTEGER,
    "qtdEntregas" INTEGER,
    "duracaoHoras" DOUBLE PRECISION,
    "cdEntregador" INTEGER,

    CONSTRAINT "Rota_pkey" PRIMARY KEY ("cdRota")
);

-- CreateTable
CREATE TABLE "ColetaEntrega" (
    "cdColEntrega" SERIAL NOT NULL,
    "tipo" TEXT,
    "dtRegistro" TIMESTAMP(3) DEFAULT CURRENT_TIMESTAMP,
    "dtPrevista" TIMESTAMP(3),
    "status" TEXT,
    "valor" DOUBLE PRECISION,
    "cdPedidos" INTEGER,
    "cdRota" INTEGER,

    CONSTRAINT "ColetaEntrega_pkey" PRIMARY KEY ("cdColEntrega")
);

-- CreateTable
CREATE TABLE "Demanda" (
    "id" TEXT NOT NULL,
    "produto" TEXT NOT NULL,
    "quantidade" INTEGER NOT NULL,
    "unidade" TEXT NOT NULL DEFAULT 'Caixas',
    "precoMedio" DOUBLE PRECISION,
    "emailMercado" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ABERTA',
    "criadoEm" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Demanda_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Oferta" (
    "id" TEXT NOT NULL,
    "quantidade" INTEGER NOT NULL,
    "emailProdutor" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ACEITA',
    "criadoEm" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "demandaId" TEXT NOT NULL,
    "statusEntrega" TEXT NOT NULL DEFAULT 'PENDENTE',
    "nota" INTEGER,

    CONSTRAINT "Oferta_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sugestoes" (
    "id" SERIAL NOT NULL,
    "emailProdutor" TEXT NOT NULL,
    "nomeProduto" TEXT NOT NULL,
    "descricao" TEXT,
    "imagemUrl" TEXT,
    "criadoEm" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "sugestoes_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "cliente_email_key" ON "cliente"("email");

-- CreateIndex
CREATE UNIQUE INDEX "vendedor_email_key" ON "vendedor"("email");

-- AddForeignKey
ALTER TABLE "acesso" ADD CONSTRAINT "acesso_cdCliente_fkey" FOREIGN KEY ("cdCliente") REFERENCES "cliente"("cdCliente") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "acesso" ADD CONSTRAINT "acesso_cdVendedor_fkey" FOREIGN KEY ("cdVendedor") REFERENCES "vendedor"("cdVendedor") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "acesso" ADD CONSTRAINT "acesso_cdEntregador_fkey" FOREIGN KEY ("cdEntregador") REFERENCES "entregador"("cdEntregador") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "pedidos" ADD CONSTRAINT "pedidos_cdCliente_fkey" FOREIGN KEY ("cdCliente") REFERENCES "cliente"("cdCliente") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ItemPedido_Tem" ADD CONSTRAINT "ItemPedido_Tem_cdVendedor_fkey" FOREIGN KEY ("cdVendedor") REFERENCES "vendedor"("cdVendedor") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ItemPedido_Tem" ADD CONSTRAINT "ItemPedido_Tem_cdProduto_fkey" FOREIGN KEY ("cdProduto") REFERENCES "produtos"("cdProduto") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ItemPedido_Tem" ADD CONSTRAINT "ItemPedido_Tem_cdPedidos_fkey" FOREIGN KEY ("cdPedidos") REFERENCES "pedidos"("cdPedido") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Prod_Vendedor_Possui" ADD CONSTRAINT "Prod_Vendedor_Possui_cdVendedor_fkey" FOREIGN KEY ("cdVendedor") REFERENCES "vendedor"("cdVendedor") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Prod_Vendedor_Possui" ADD CONSTRAINT "Prod_Vendedor_Possui_cdProduto_fkey" FOREIGN KEY ("cdProduto") REFERENCES "produtos"("cdProduto") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Rota" ADD CONSTRAINT "Rota_cdEntregador_fkey" FOREIGN KEY ("cdEntregador") REFERENCES "entregador"("cdEntregador") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ColetaEntrega" ADD CONSTRAINT "ColetaEntrega_cdPedidos_fkey" FOREIGN KEY ("cdPedidos") REFERENCES "pedidos"("cdPedido") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ColetaEntrega" ADD CONSTRAINT "ColetaEntrega_cdRota_fkey" FOREIGN KEY ("cdRota") REFERENCES "Rota"("cdRota") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Oferta" ADD CONSTRAINT "Oferta_demandaId_fkey" FOREIGN KEY ("demandaId") REFERENCES "Demanda"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

